<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
	Header set Cache-Control "max-age=31356000"
</Filesmatch>

<FilesMatch "\.(js|css)$">
	Header set Cache-Control "max-age=86400"
</Filesmatch>

<FilesMatch "\.(php)$">
	Header set Cache-Control "max-age=180, private"
</Filesmatch>

<FilesMatch "index.php|login.php|admin.php|addOffer.php">
	Header set Cache-Control "no-cache, private"
</Filesmatch>